# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.MF
*.iml

.idea/**/gradle.xml
.idea/*



## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/




